<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <Link href="~/css/GridNodes.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
